:root
    --color-red-1 #f87171
    --color-red-2 #dc2626
    --color-yellow-1 #facc15
    --color-yellow-2 #ca8a04
    --color-blue-1 #60a5fa
    --color-blue-2 #2563eb
    --color-green-1 #4ade80
    --color-green-2 #16a34a

    --gap-1 .5rem
    --gap-2 1rem
    --gap-3 1.5rem
    --gap-4 2rem